<div class="col-1-2 poster">
    <div class="poster-title">
        <h2><%= link_to "#{poster.title}", poster %></h2>
    </div>

    <div class="poster-authors">
      <ul>
        <% poster.users.each do |user| %>
        <li><%= link_to "#{user.name}", user %></li>
        <% end %>
      </ul>
    </div>

    <div class="poster-picture">
      <%= link_to image_tag(poster.filepath, class:"poster-thumbnail"), poster %>
    </div>

    <div class="poster-tags">
      <ul>
        <% poster.tags.each do |tag| %>
        <li><%= link_to "#{tag.discipline}", tag %></li>
        <% end %>
      </ul>
    </div>

</div>

