<div class="col-1-2">
</div>
<div class="col-1-2 welcome">
	<h3>Thanks for joining ScienceFair!</h3>
	<h4>Start commenting, visit your <%= link_to "Profile", user_path(current_user) %>, or continue browsing.</h4>
</div>