@viewport{
    zoom: 1.0;
    width: device-width;
}

/*Some CSS*/
* {margin: 0; padding: 0; border: 0;}
.magnify {
  width: 50%;
  /*margin: 50px auto;*/
  margin-top: 0.2em;
  margin-left: 0.2em;
  position: fixed;
}

/*Lets create the magnifying glass*/
.pic_large {
  width: 300px; height: 300px;
  position: absolute;
  border-radius: 10%;

  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
  0 0 7px 7px rgba(0, 0, 0, 0.25),
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  /*Lets load up the large image first*/
  /*background: url('/assets/cookie_squirrel.jpg') no-repeat;*/

  /*hide the glass by default*/
  display: none;
}

/*To solve overlap bug at the edges during magnification*/
.pic_small {
  top: 4em;
  left: 0;
  right: 4em;
}

div.right_side_bar_before {
  position: fixed;
  right: 0;
  width: 1.5em;
  background-color: #C41E3A;
  height: 100%;
  display: none;
}

div.bottom_bar_before {
  background-color: #C41E3A;
  border-radius: 1em 1em 0em 0em;
  width: 4%;
  bottom: 0;
  right: 36%;
  height: 3em;
  position: fixed;
}

div.right_side_bar_after {
  /*border-left: 0.5em solid #C41E3A;*/
  position: fixed;
  right: 0;
  width: 33%;
  height: 100%;
  overflow: scroll;
  padding-left: 2.5em;
  padding-right: 1em;
  padding-top: 2em;
  padding-bottom: 6em;
  font-size: 2em;
  line-height: 1.5em;
}

div.right_side_bar_after ul#poster_comment_list_ul {
  list-style: none;
}

input {
  border: 1px solid grey;
  margin: 0.25em;
}

input[type=submit] {
  padding: 0.5em 0.75em 0.5em 0.75em;
  border: 1px solid #C41E3A;
  background-color: #FFFFF0;
}

ul.subcomments {
  list-style: none;
  padding-left: 1em;
}

button {
  padding: 0.25em 0.75em 0.25em 0.75em;
  border: 1px solid #C41E3A;
  background-color: #FFFFF0;
}

span.points, .points-tag {
  font-size: 0.75em;
}

input.add {
  padding: 0em 0.05em 0em 0.05em;
  width: 2.5em;
  font-size: 0.75em;
}

div.bottom_bar_after {
/*   border: 1px solid black; */
  border: 0.25em solid grey;
  border-bottom: none;
  height: 25%;
  width: 58.9%;
  position: fixed;
  bottom: 0;
  padding: 0.5em 4em 0.5em 4em;
  background-color: #FFFFF0;
}

div.bottom_bar_after h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}

div.bottom_bar_after p {
  line-height: 1.25em;
  margin-bottom: 0.3em;
/*   border: 1px solid black; */
}

div.comments_bar a {
  text-decoration: none;
}

div.comment-points {
  width: 3.5em;
  display: inline-block;
  padding-bottom: 0.5em;
}

div.poster_comment_list ul#poster_comment_list_ul li.poster_comment_reply_button {
  padding-bottom: 0.75em;
}

div.poster-points {
  width: 2.8em;
  display: inline-block;
  margin-bottom: 0.2em;
}

div.bottom_bar_after ul.poster-users {
/*   border: 1px solid black; */
  text-align: center;
  list-style: none;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

div.bottom_bar_after ul.poster-users li {
  display: inline;
  margin: 0.2em;
}

div.user-points {
/*   border: 1px solid black; */
  width: 2.8em;
  display: inline-block;
}

div.user-points input[type=submit] {
  border: 1px solid #C41E3A;
  padding: 0em 0.05em 0em 0.05em;
  width: 2.5em;
  font-size: 0.75em;
}

li.poster_comment_reply_form {
  display: none;
}

/*
.comments_bar {
  color: black;
  position: relative;
  padding: 1em;
}

.comments_bar ul {
  list-style: none;
}

.comments_bar ul li {
  margin: 0.5em;
}

.subcomment {
  padding-left: 1.5em;
  border-left: 2px solid black;
}

.bottom_bar_after {
  display: none;
  position: fixed;
  bottom: 0px;
  padding-left: 1em;
  border: 10px solid #C41E3A;
  border-bottom-width: 20px;
  background-color: #FFFFF0;
  width: 80%;
  height: 33%;
  left: 10%;
}

.bottom_bar_after h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.bottom_bar_after ul {
  list-style: none;
  margin-top: 1em;
}

.bottom_bar_after ul li {
  display: inline-block;
}

.right_side_bar_arrow, .bottom_bar_arrow {
  color: black;
  font-weight: bold;
}

.right_side_bar_arrow:hover, .bottom_bar_arrow:hover {
  cursor: pointer;
}

#poster_comment_reply_form {
  display: none;
}*/
