/*Some CSS*/
* {margin: 0; padding: 0; border: 0;}
.magnify {
  width: 50%;
  margin: 50px auto;
  position: fixed;
}


/*Lets create the magnifying glass*/
.pic_large {
  width: 500px; height: 500px;
  position: absolute;
  border-radius: 100%;

  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
  0 0 7px 7px rgba(0, 0, 0, 0.25),
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  /*Lets load up the large image first*/
  background: url('/assets/cookie_squirrel.jpg') no-repeat;

  /*hide the glass by default*/
  display: none;
}

/*To solve overlap bug at the edges during magnification*/
.pic_small {
  /*display: none;*/
  /*height: 200px;
  width: 400px;*/
  /*position: fixed;*/
  /*margin-top: 4em;*/
  top: 4em;
  left: 0;
  right: 20px;
}

.right_side_bar_before {
  position: fixed;
  top: 4em;
  right: 0px;
  color: red;
  background-color: #FF423E;
  width: 20px;
  height: 100%;
  /*z-index: -1;*/
}

.bottom_bar_before {
    position: fixed;
    bottom: 0px;
    color: red;
    background-color: #FF423E;
    width: 90%;
    height: 20px;
    left: 10%;
}

.right_side_bar_after {
    display: none;
    position: relative;
    top: 4em;
    right: 0px;
    /*color: red;*/
    border: 10px solid #FF423E;
    border-bottom: 20px solid #FF423E;
    background-color: #FFFFF0;
    width: 33%;
    float: right;
    height: 100%;
    padding-bottom: 3em;
    /*z-index: -1;*/
}

.bottom_bar_after {


    /*color: red;*/


    /*background-color: #FF423E;*/

}

.comments_bar {
  color: black;
  position: relative;
  padding: 1em;
}

.comments_bar ul {
  list-style: none;
}

.comments_bar ul li {
  margin: 0.5em;
}

.subcomment {
  padding-left: 1.5em;
  border-left: 2px solid black;
}
.bottom_bar_after {
  display: none;
  position: fixed;
  bottom: 0px;
  padding-left: 1em;
  border: 10px solid #FF423E;
  border-bottom-width: 20px;
  background-color: #FFFFF0;
  width: 80%;
  height: 33%;
  left: 10%;
}

.bottom_bar_after h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.bottom_bar_after ul {
  list-style: none;
  margin-top: 1em;
}

.bottom_bar_after ul li {
  display: inline-block;
}
