div.col-2-12 {
	height: 1em;
	margin-bottom: 3em;
}

div.user-container {
	border: 4px solid #C41E3A;
	height: 20em;
	margin-left: auto;
	margin-right: auto;
}

div.col-8-12.user-info {
	height: 20em;
	padding-left: 4em;
	padding-top: 2em;
}

div.col-8-12 h2.user-name {
	color: #C41E3A;
	font-size: 33px
}

div.col-8-12.user-info p {
	color: #C41E3A;
	font-size: 24px
}

div.col-8-12.user-info a {
	color: grey;
}

div.col-4-12.user-pic {
	/*border: 1px solid black;*/
	width: 303;
	height: auto;
	margin-top: 3em;
	/*height: 19.5em;*/
}

div.col-8-12.user-edit-container {
	border: 4px solid #C41E3A;
}

div.col-8-12.user-edit-info {
	height: 25em;
	padding-left: 4em;
	padding-top: 2em;
}

form.edit_user input{
	display: block;
	border: 1px solid gray;
	padding: 3px;
	border-radius: 2px;
}

ul.error-list {
	list-style: none;
	color: #C41E3A;
	font-size: 1.5em;
}

form.create